@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.company-name {
    font-family: 'Baloo 2', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
    flex: 0;
    text-align: left;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.navbar.dark .company-name {
    color: #fff;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 5px 7%;
    height: 80px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    position: fixed;
    z-index: 10;
}

.navbar.dark {
    background: #1e1e1e;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
}

.logo {
    width: 75px;
}

.toggle-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.toggle-icon:hover {
    transform: scale(1.1);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-left: 20px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.navbar.dark li {
    color: #fff;
}

.navbar li:hover {
    color: #007bff;
}

.sidebar-toggle {
    cursor: pointer;
    z-index: 11;
    color: purple;
    position: fixed;
    align-items: center;
    left: 15px;
}

.navbar.dark .sidebar-toggle {
    color: white;
}

.app-container {
    transition: background-color 0.3s ease;
}

.app-container.light {
    background-color: #f8f8f8;
    color: black;
}

.app-container.dark {
    background-color: #121212;
    color: white;
}

.content {
    padding: 5px;
    min-height: calc(100vh - 80px);
    margin-top: 5px;
    transition: margin-right 0.3s ease-in-out;
}

.content.right-sidebar-hidden {
    margin-right: 0;
}

.right-sidebar-list {
    list-style: none;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #3B424A; /* Theme-aware text color */
}

.right-sidebar-list li {
    display: flex;
    align-items: center;
    padding-top: 20px ;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 10px;
}

.right-sidebar-list li:last-child {
    margin-bottom: 0;
}

.right-sidebar-list li:hover {
    background-color: var(--hover-background); /* Theme-aware hover background */
}

.right-sidebar-list li svg {
    margin-right: 15px;
    margin-left: 10px;
    font-size: 1.1rem;
    color: #3B424a; /* Theme-aware icon color */
}

/* Define CSS variables for theme colors */
:root {
    --text-color: #333; /* Light mode text color */
    --icon-color: white; /* Light mode icon color */
    --secondary-icon-color: white; /* Light mode secondary icon color */
    --hover-background: #f5f5f5; /* Light mode hover background */
}

.app-container.dark {
    --text-color: #3b424a; /* Dark mode text color */
    --icon-color: white; /* Dark mode icon color */
    --secondary-icon-color: white; /* Dark mode secondary icon color */
    --hover-background: white; /* Dark mode hover background */
}